/** @format */

.custom-description-scrollbar {
  overflow-y: auto; /* Enable vertical scrollbar */
  scrollbar-width: auto; /* For Firefox */
  scrollbar-color: #118f8f #f3f3f3; /* Scrollbar track and thumb color */
  /* Set the width and color of the scrollbar track */
}

.custom-description-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f8f3fb; /* Set the color of the scrollbar thumb */
  border-radius: 10px;
}

.custom-description-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #2c0fae; /* Set the color of the scrollbar thumb on hover */
}
