/**
 * Add this CSS to your stylesheet or component's CSS module
 *
 * @format
 */
.image-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  overflow: hidden; /* Hide any content that overflows the container */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
  white-space: wrap; /* Prevent text from wrapping to the next line */
  max-height: 30em;
}

.heading {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  font-size: large;
}

.img {
  max-width: 100%;
  border-radius: 50%;
}

.component-container {
  border: "solid 1px white";
  overflow-y: auto;
}

.skill-bar {
  border: "1px solid black";
  height: 3px;
  width: 80%;
  border-radius: 10%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Adjust z-index as needed */
}

.name {
  font-weight: 600;
  color: rgb(240, 213, 242);
  /* margin: 0px 5px 2px 0px; */
}

.name:hover {
  /* background-color:rgb(49, 155, 179); */
  transform: scale(1.1);
}

#nav-links > a {
  margin: 0px 3px 0px 2px;
}
#nav-links > a:hover {
  transform: translateY(-5%);
  transition: all 0.2s ease-in;
  text-decoration-line: underline;
  text-decoration-color: rgb(16, 137, 117);
  text-decoration-style: solid;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

